    body{
    background-color: rgb(9,8,57);
    }
    #img1{
        height: 10vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #img2{
        height: 10vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #img2_1{
        height: 20vw;
        margin-left: auto;
        margin-right: auto;
        display: none;
    }
    #img3{
        width: 40vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    #img4{
        width: 15vw;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    textarea{
        width: 40vw;
        height: 20vh;
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
    button{
        margin-left: auto;
        margin-right: auto;
        display: block;

        height: 100%;
        width: 30vw;

        font-size: 2vw;
        background-color: white;
        border: solid gray 1px;
        border-radius: 3px;
    }
    #blank1{
        margin-top: 5vh;
        display: block;
    }
    #blank2{
        margin-top: 3vh;
        display: block;
    }
    #blank3{
        margin-top: 3vh;
        display: block;
    }
    #blank4{
        margin-top: 7vh;
        display: block;
    }